{% extends 'front/home_index.html' %}
{% load staticfiles %}
{% block template %}
      <section class="widget-box home-layout">
            <h3 class="post_box_title">
                <span class="ttcolor">
                    <i class="fa fa-cube"></i>
                    今日头条
                </span>
            </h3>
             {% for item in article %}
                  <article class="post_box">
                  <div class="post-img col-xs-4">
                        <a href="">
                              <img class="img-responsive img-rounded imgs" src="https://www.talklee.com/zb_users/upload/2018/06/201806281530153436570309.jpg" alt="负载均衡和CDN技术有什么区别" title="详细阅读：负载均衡和CDN技术有什么区别" original="https://www.talklee.com/zb_users/upload/2018/06/201806291530261215908089.jpg" style="display: inline;">
                              <em></em>
                        </a>
                  </div>
                  <div class="post-left">
                        <h3>
                            <a href="{% url 'blog:article-detail'  item.articleUrl %}" title=" {{ item.articleName }}"> {{ item.articleName }}</a>
                        </h3>
                        <div class="post-con">
                            <a href="{% url 'blog:article-detail'  item.articleUrl %}" title="查看《 {{ item.articleName }}》全文"> {{ item.articleContent }}</a>
                        </div>
                        <div class="item-meta">
                              <span class="mu-ml">
                                  <i class="fa fa-user"></i>
                                  <a href="{% url 'blog:userHome' %}">{{ item.user.userName }}</a>
                              </span>
                              <span class="mu-ml-clock">
                                  <i class="fa fa-calendar"></i>
                                  {{ item.articleTime|date:"Y-m-d"}}
                              </span>
                              <span class="mu-ml-eye">
                                  <i class="fa fa-paw"></i>
                                  {{ item.articleClick }}次浏览
                              </span>
                              <span class="mu-ml-comment">
                                  <i class="fa fa-comment"></i>
                                  <a href="https://www.talklee.com/blog/361.html#comments">{{ item.articleComment }}条评论</a>
                              </span>
                              <a class="read-more right" href="{% url 'blog:article-detail'  item.articleUrl %}" title="详细阅读：{{ item.articleName }}">阅读全文</a>
                        </div>
                  </div>
            </article>
             {% endfor %}

      </section>
{% endblock %}

