<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>分享创作-向勇个人官方网站</title>
    {% load staticfiles %}
    <link rel="Shortcut Icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'frame/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
<header class="site-header">
    <div id="header" class="navbar fixed-nav fixed-appear">
        <nav id="top-header">
            <div class="top-nav">
                <div class="menu-container">
                    <ul class="top-menu">
                        {% if request.session.is_sign %}
                            <li>
                                <i class="fa fa-user"></i>欢迎
                                <a href="" title="资料编辑">{{ request.session.user }}</a>&nbsp;
                                <i class="fa fa-gear"></i>
                                <a target="_blank" href="{% url 'blog:user_blog' request.session.user %}">我的博客</a>&nbsp;
                                <i class="fa fa-edit"></i>
                                <a href="{% url 'blog:write' %}" title="文章管理"
                                   target="_blank">写文章</a>&nbsp;<i class="fa fa-sign-out"></i>
                                <a href="{% url 'blog:out' %}">登出</a>
                            </li>
                        {% else %}
                            <li>
                                <i class="fa fa-github-square"></i>您好，欢迎到访向勇个人博客!
                                <a href="{% url 'blog:in' %}" target="_blank">登录</a>&nbsp;
                                <a href="{% url 'blog:up' %}" target="_blank">注册</a>
                            </li>
                        {% endif %}


                    </ul>
                </div>
                <div id="inf-d">
                    <div id="inf-b">
                        Hi,
                        <script type="text/javascript">today = new Date();
                        var day;
                        var date;
                        var hello;
                        hour = new Date().getHours();
                        if (hour < 6) {
                            hello = ' 凌晨好！ ';
                        } else if (hour < 9) {
                            hello = ' 早上好！';
                        } else if (hour < 12) {
                            hello = ' 上午好！';
                        } else if (hour < 14) {
                            hello = ' 中午好！ ';
                        } else if (hour < 17) {
                            hello = ' 下午好！ ';
                        } else if (hour < 19) {
                            hello = ' 傍晚好！';
                        } else if (hour < 22) {
                            hello = ' 晚上好！ ';
                        } else {
                            hello = '夜深了！ ';
                        }

                        function GetCookie(sName) {
                            var arr = document.cookie.match(new RegExp("(^| )" + sName + "=([^;]*)(;|$)"));
                            if (arr != null) {
                                return unescape(arr[2])
                            }
                            ;
                            return null;
                        }

                        var Guest_Name = decodeURIComponent(GetCookie('author'));
                        var webUrl = webUrl;
                        if (Guest_Name != "null" && Guest_Name != "") {
                            hello = Guest_Name + ' , ' + hello + ' 欢迎回来。';
                        }
                        document.write(' ' + hello);</script>
                        今天是：
                        <span id="localtime">
        <script type="text/javascript">today = new Date();
        var tdate, tday, x, year;
        var x = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
        var MSIE = navigator.userAgent.indexOf("MSIE");
        if (MSIE != -1) {
            year = (today.getFullYear());
        } else {
            year = (today.getYear() + 1900);
        }
        tdate = year + "年" + (today.getMonth() + 1) + "月" + today.getDate() + "日" + " " + x[today.getDay()];
        document.write(tdate);</script>
      </span><!---->
                    </div>
                    <div id="inf-e"></div>
                </div>
            </div>
        </nav>
        <div class="header">
            <h1 id="logo">
                <a href="{% url 'blog:index' %}"><img
                        src="{% static 'images/logo.png' %}" title="向勇个人博客"
                        alt="向勇个人博客"></a>
            </h1>
            <div class="search">
                <form method="post" name="search" action="" class="searchform">
                    <input type="text" name="q" placeholder="搜索..." value="" class="text">
                    <input type="submit" class="btn" value="搜索">
                </form>
            </div>
            <!-- mobile nav -->
            <div class="nav-sjlogo"><i class="fa fa-navicon"></i></div>
            <div class="nav-sousuo">
                <div class="mini_search">
                    <form name="search" class="searchform" method="post" action="">
                        <input class="searchInput" type="text" name="q" size="11" placeholder="请输入搜索内容..." value=""
                               id="ls">
                        <button type="submit" class="btn-search dtb2" value=""><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <a id="mo-so" href="javascript:void(0);"><i class="fa fa-search icon-search"></i></a>
            </div>
            <div class="header-nav" data-type="index" data-infoid="index">
                <aside class="mobile_aside mobile_nav">
                    <div class="mobile-menu">
                        <ul id="nav" class="nav-pills">
                            <li id="nvabar-item-index"><a href="{% url 'blog:index' %}" class="on"><i
                                    class="fa fa-home"></i>首页</a></li>
                            <li id="navbar-category-5"><a href=""><i class="fa fa-cloud"></i>互联网</a></li>
                            <li id="navbar-category-1"><a href=""><i class="fa fa-recycle"></i>新鲜科技</a></li>
                            <li id="navbar-category-6" class="menu-item-has-children">
                                <a href=""><i class="fa fa-delicious"></i>主题展示</a>
                                <span class="toggle-btn"><i class="fa fa-plus"></i></span>
                                <ul class="dropdown-menu sub-menu">
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                        <a href="">zblogPHP教程</a>
                                    </li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                        <a href="">zblogPHP主题</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="navbar-category-4"><a href=""><i class="fa fa-coffee"></i>胡言乱语</a></li>
                            <li id="navbar-page-2" class="menu-item-has-children ">
                                <a href=""><i class="fa fa-bookmark"></i>留言本</a>
                                <span class="toggle-btn"><i class="fa fa-plus"></i></span>
                                <ul class="dropdown-menu sub-menu">
                                    <li id="navbar-page-68"><a href="/service/">私人订制</a></li>
                                    <li id="navbar-page-24"><a href="https://www.talklee.com/tougao/">本站投稿</a></li>
                                    <li id="navbar-page-54"><a href="/ads/">广告投放</a></li>
                                    <li id="navbar-page-53"><a href="/zanzhu/" class="current-on">赞助我们</a></li>
                                </ul>
                            </li>
                            <li id="nvabar-item-index">
                                <a href="{% url 'blog:write' %}" class="">
                                    <i class="iconfont icon-combinedshapecopy2"></i>
                                    写文章
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="login-ico">
                {% if request.session.is_sign %}
                    <img src="{% static 'images/userImage.png' %}">
                    <ul class="userControl">
                        <Li>
                            <a href="{% url 'blog:user_blog' request.session.user %}">我的博客</a>
                        </Li>
                        <li>
                            <a href="{% url 'blog:user_setting' %}">账号设置</a>
                        </li>
                        <li>
                            <a href="{% url 'blog:out' %}">退出</a>
                        </li>
                    </ul>
                {% else %}
                    <div>
                        <a style="font-size: 18px" href="{% url 'blog:in' %}">登录</a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</header>
<div class="container-fluid home-fluid">
    <div class="site-content">
        <!--轮播广告-->
        <nav class="gonggao navcates">
            <div class="bull"><i class="fa fa-volume-up"></i></div>
            <div id="callboard">
                <ul class="menu" style="margin-top: 0px;">
                    <li>
                        <a href="" style="    color:#D34A2C;" title="应政策要求，10月1日起博客评论将启用审核功能，接入实名验证后再取消审核功能。">
                            应政策要求，10月1日起博客评论将启用审核功能，接入实名验证后再取消审核功能。
                        </a>
                    </li>
                    <li>
                        <a href="" title="购买林文正姿送Z-blogPHP主题啦，仅限10套，欲购从速（剩余：5套）">
                            购买林文正姿送Z-blogPHP主题啦，仅限10套，欲购从速（剩余：4套）
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="site-main">
            <!-- 幻灯片-->

            {% comment %} <div class="content-wrap left">
                            <div class="slide-main">
                                <!-- 幻灯片-->
                                <div class="swiper-container swiper-home swiper-container-horizontal">
                                    <article class="swiper-slide slide-single swiper-slide-duplicate" data-swiper-slide-index="2">
                                        <div class="swiper-image">
                                            <a href="//www.talklee.com/blog/248.html" title="林文正姿笔优惠促销" target="_blank">
                                                <img src="//www.talklee.com/zb_users/upload/2017/10/201710121507778833893531.jpg" alt="林文正姿笔优惠促销">
                                            </a>
                                        </div>
                                        <div class="swiper-post">
                                            <h3>
                                                <a href="" target="_blank" title="林文正姿笔优惠促销">林文正姿笔优惠促销</a>
                                            </h3>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>{% endcomment %}

            {% block template %}{% endblock %}
        </div>

        <!--侧栏-->
        {% block side %}{% endblock %}
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>© 2018 <a href="http://jspang.com">技术胖-胜洪宇关注web前端技术</a>
            &nbsp; <a href="http://jspang.com/sitemap.xml">网站地图</a>
        </p>
    </div>
</footer>
<div id="backtop" class="backtop">
    <div class="bt-box tnrt">
        <a href="javascript:translatePage();" id="zh_big">繁</a></div>
    <div class="bt-box weixin">
        <i class="fa fa-weixin fa-2x"></i>
        <img class="pic" src="https://www.talklee.com/zb_users/theme//talklee/style/images/wxlogo_example.png"
             alt="微信二维码">
    </div>
    <div class="bt-box top" style="display: block;">
        <i class="fa fa-angle-up fa-2x"></i>
    </div>
</div>
</body>
<script src="{% static 'frame/jquery/dist/jquery.js' %}"></script>
<script>
    $(function () {
        $(".login-ico").hover(function () {
            if ($(this).find(".userControl").is("ul")) {
                $(this).find(".userControl").show()
                $(this).addClass("login-hover")
            }
        }, function () {
            $(this).find(".userControl").hide()
            $(this).removeClass("login-hover")

        })
        $(".nav-sjlogo i").click(function () {
            $(".mobile_aside").slideToggle(),
                $(".header-nav").removeClass("header-nav")
            $(".sub-menu").toggleClass("m-sub-menu")
            $(this).toggleClass('active')
            $(".mobile-menu .nav-pills > li:last").hide()
        })

        $("#mo-so").click(function () {
            $(".mini_search").slideToggle()
        })

        jQuery(".mobile-menu .nav-pills > li").each(function () {
            jQuery(this).children(".mobile-menu .m-sub-menu").not(".active").css('display', 'none');
            jQuery(this).children(".mobile-menu .toggle-btn").bind("click", function () {
                $('.mobile-menu .m-sub-menu').addClass('active');
                jQuery(this).children().addClass(function () {
                    if (jQuery(this).hasClass("active")) {
                        jQuery(this).removeClass("active");
                        return ""
                    }
                    return "active"
                });
                jQuery(this).siblings(".mobile-menu .m-sub-menu").slideToggle()
            })
        })
    })
</script>
{% block script %}{% endblock %}


</html>