.ds-dialog {
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #d9d9d9;
}

.ds-dialog-bg {
    position: absolute;
    opacity: .6;
    filter: alpha(opacity=30);
    background: #000;
    /*z-index: 999999999;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ds-dialog-pc {
    width: 390px;
    height: 380px;
    top: 50%;
    left: 50%;
    margin: -190px 0 0 -195px;
}

.ds-dialog-content {
    font-family: 'microsoft yahei';
    font-size: 14px;
    background-color: #FFF;
    position: fixed;
    padding: 0 20px;
    z-index: 10000;
    overflow: hidden;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ds-dialog .ds-close-dialog {
    position: absolute;
    top: 15px;
    right: 20px;
    font: 400 24px/24px Arial;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-weight: 700;
    line-height: 20px;
    opacity: .6;
    filter: alpha(opacity=20);
}

.ds-dialog-content {
    font-family: 'microsoft yahei';
    font-size: 14px;
    background-color: #FFF;
    position: fixed;
    padding: 0 20px;
    z-index: 10000;
    overflow: hidden;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ds-dialog-content h5 {
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    margin: 15px 0;
    color: #555;
}

.ds-payment-way {
    text-align: center;
}

.ds-payment-img {
    margin: 15px 0;
    text-align: center;
}

.ds-payment-way label {
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    font-size: 16px;
    margin: 0 15px 0 0;
    padding: 0;
}

.ds-payment-way label {
    cursor: pointer;
    font-weight: 400;
    display: inline-block;
    font-size: 16px;
    margin: 0 15px 0 0;
    padding: 0;
}

.ds-payment-way input[type=radio] {
    vertical-align: middle;
    margin: -2px 5px 0 0;
}

.ds-payment-img .qrcode-border {
    border-radius: 29.97px;
    width: 236.89px;
    height: 236.89px;
    margin-top: 25.53px;
}

.ds-payment-img .qrcode-border {
    margin-left: 50px;
}

#qrCode_2 .qrcode-tip {
    color: #4391EA;
}

.ds-payment-img .qrcode-tip {
    width: 48.13px;
    position: relative;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 700;
    background: #fff;
    height: 15px;
    line-height: 15px;
    margin-top: -12px;
}

.ds-payment-img img {
    margin: 15px auto;
    width: 185px;
}